main{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;


}
.card:hover{ 
    box-shadow: none;
    transition: .5s;
}

.card{
   
   width: 300px;
   border-radius: 20px;
   margin-top: 50px;
   background-color: var(--tercery-color);
   display: flex; flex-direction: column; align-items: center;
   margin: 50px;
   row-gap: 0px;
   cursor: pointer;
   box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
   
}


.foto img{
    width: 200px; height: 200px;
    border-radius: 15px;
    width:200px; height: 200px;
    display: flex; align-items: center;
    margin-top: 20px;
}
.title{ 
     text-align: center;
     font-family: 'Roboto';
     margin: 0px;
}
.des{
    text-align: center;
    font-family: 'Roboto';
    margin: 0px;
}
.precio{ 
    text-align: center;
    font-family: 'Roboto';
    margin: 0px;
}
