footer{
    background-color: var(--secondary-color);
    height: auto;
    display: flex;
    color: white; font-family: 'Roboto';
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 20px;
    width: 100%;
}
.creditos{ 
    display: flex;
    flex-direction: column;
    
    

}
footer h2{ 
    width: 170px;
    height: 50px;
    margin: 0px;
}
footer h3{ 
    width: 250px;
    height: 50px;
}
